

body {
   
  background-image: url("https://64.media.tumblr.com/93859b969037cf9ff67d0eb1a8e21e95/49ece6d4ba4b2e16-41/s640x960/3be349000c18eea5cc6a0835416eb461047adc76.gif");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;
}



html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 6px solid black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
  color: white ;
}





.pic{
  height: 600px;
  width: 400px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: #9acced ;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}